.action-container {
  padding: 8px 0 8px 4px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .action-item {
    display: inline-flex;
    align-items: center;
    margin-right: 1em;
  }

  > button {
    //margin-top: 0.5em;
  }

  > span {
    margin-top: 0.5em;
  }
}

.red-text {
  color: #eb3941;

  &:hover {
    color: #f56b72;
  }
}